header{
    background: none;
}
header *{
    background: none;
    border: none;
    z-index: 10;
}

.buscaSec{
    position: absolute;
    top: -5px;
    width: 100%;
    background: url('../imgs/background/home2.png') center no-repeat;
    /*background-size: 100%;*/
    z-index: 1;
    height: 520px;
    background-position: top;
}

.descerBack{
    margin-top: 300px;
    background: #e0e0e0;
}

.descerBack .root{
    padding: 20px;
    width: 1160px;
    background: #fff;
    border-radius: 15px;
    z-index: 15;
}

.descerBack .root .titInp{
    width: 100%;
    border: none;
    outline: none;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 15px;
}

.root .sobre textarea{
    color: #636363;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.root .files{
}

.root .files .caixaDeDrop{
    width: 50%;
    height: 250px;
    border-radius: 10px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.root .files .result{
    width: 50%;
    margin: auto;
}

.filePronto{
    color: #0000ff;
}

.fileError{
    color: #ff0000;
}

.fileFinish{
    color: #00ff00;
}



.root .infos{
    display: flex;
    margin-top: 50px;   
}

.root .infos img{
    height: 17px;
    width: 17px;
    margin-left: 10px;
}

.root .infos a, .root .infos p{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.root .sumbitDiv{
    display: flex;
    justify-content: center;
}

.root .sumbitDiv .sumbitBtn{
    margin-left: 0px;
    height: 45px;
    font-size: 20px;
    width: 166px;
    height: 48px;
    background: #e6e6e6;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #FF6422;
    box-shadow: 1px 1px 2px #888888;
    font-weight: bolder;
    animation-duration: alternate 4s;
    margin-top: 20px;
}




.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1,1,1,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.modal .modalRoot{
    width: 50%;
    /*height: 75%;*/
    background: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
    max-height: 100%;
    transition: max-height 1s ease-out;
}


.modalRoot .selectType{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}
.modalRoot .selectType h3{
    width: 50%;
    position: absolute;
    text-align: center;
    font-size: 25px;
}
.modalRoot .selectType .closeModal{
    padding: 20px 25px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.modalRoot .entradas > div{
    width: 90%;
    margin: auto;
}

.modalRoot .entradas{
    display: grid;
    grid-template-columns: 50% 50%;
}

.modalRoot .entradas input[type="text"], .modalRoot textarea, .modalRoot .caixaBusca{
    border-radius: 50px;
    background: #dadada;
    width: 268px;
    transition: all 0.5s;
    box-shadow: 1px 1px 2px #888888;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #000000;
    outline: none;
    border: none;
    padding: 12px;
}
.modalRoot textarea, .modalRoot .caixaBusca{
    resize: none;
    height: 150px;
    border-radius: 15px;
    font-family: inherit;
    padding: 0;
    margin-top: 15px;
    display: block !important;
}

.caixaBusca > div{
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

.caixaBusca > div:hover{
    color: #FF6422;
}

.caixaBusca > div.selected{
    color: #FF6422;
}

.modal label{
    margin-top: 20px;
    display: block;
}

.modalRoot .btnAreaMeto{
    display: flex;
    justify-content: center;
}

.modal input[type="submit"]{
    margin-left: 0px;
    height: 45px;
    font-size: 20px;
    width: 166px;
    height: 48px;
    background: #e6e6e6;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #FF6422;
    box-shadow: 1px 1px 2px #888888;
    font-weight: bolder;
    animation-duration: alternate 4s;
    margin-top: 20px;
}
