
.entradas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.entradas input[type="text"], input[type="password"], textarea{
    border-radius: 50px;
    background: #dadada;
    width: 268px;
    transition: all 0.5s;
    box-shadow: 1px 1px 2px #888888;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #000000;
    outline: none;
    border: none;
    padding: 12px;
}
textarea{
    resize: none;
	height: 150px;
	border-radius: 15px;
	font-family: inherit;
}
input[type="password"]{
	margin-bottom: 3px;	
}
.entradas label{
    margin-top: 20px;
    display: block;
    font-size: 23px;
}

.entradas .erro{
    color: #ff0000;
    font-size: 12px;
	display: block;
	margin-top: 3px;
	margin-left: 14px;
}

.entradas .dois{
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
}

.entradas .dois > div{
    display: flex;
    flex-direction: column;
}


.entradas input[type="submit"]{
    margin-left: 0px;
    height: 45px;
    font-size: 20px;
    width: 166px;
    height: 48px;
    background: #e6e6e6;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #FF6422;
    box-shadow: 1px 1px 2px #888888;
    font-weight: bolder;
    animation-duration: alternate 4s;
    margin-top: 20px;
}


.selector{
    position: absolute;
    margin-top: 100px;
    background: #eee;
    width: 427.5px;
    border: 1px solid;
    border-radius: 8px;
    max-height: 250px;
    overflow: auto;
}

.selector div{
    padding: 5px;
    cursor: pointer;
}
.selector div:first-child{
    border-radius: 8px 8px 0 0;
}
.selector div:last-child{
    border-radius: 0 0 8px 8px;
}

.selector .hover{
    background: #ddd;
}

.selectorRes1{
    position: absolute;
    margin-top: 56px !important;
    margin-left: 11px;
    background: #aaa;
    border-radius: 25px;
    padding: 5px;
    font-size: 19px !important;
}





.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1,1,1,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.modal .modalRoot{
    width: 30%;
    /*height: 75%;*/
    background: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
    max-height: 100%;
    transition: max-height 1s ease-out;
}


.modalRoot .selectType{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}
.modalRoot .selectType h3{
    width: 30%;
    position: absolute;
    text-align: center;
    font-size: 25px;
}
.modalRoot .selectType .closeModal{
    padding: 20px 25px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.modalRoot .entradas > div{
    width: 90%;
    margin: auto;
}

.modalRoot .entradas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modalRoot .entradas input[type="text"], .modalRoot textarea{
    border-radius: 50px;
    background: #dadada;
    width: 268px;
    transition: all 0.5s;
    box-shadow: 1px 1px 2px #888888;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #000000;
    outline: none;
    border: none;
    padding: 12px;
}
.modalRoot textarea{
    resize: none;
    height: 150px;
    border-radius: 15px;
    font-family: inherit;
}

.modal label{
    margin-top: 20px;
    display: block;
}


.modal input[type="submit"]{
    margin-left: 0px;
    height: 45px;
    font-size: 20px;
    width: 166px;
    height: 48px;
    background: #e6e6e6;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #FF6422;
    box-shadow: 1px 1px 2px #888888;
    font-weight: bolder;
    animation-duration: alternate 4s;
    margin-top: 20px;
}