.root .perfilInfos{
	display: grid;
	grid-template-columns: 35% 65%;
}

.root .perfilInfos .edit{
    position: absolute;
    right: 20%;
    cursor: pointer;
}

.root .perfilInfos .imgPerfil{
	padding: 8% 20%;
}

.root .perfilInfos .imgPerfil img{
	width: 100%;
	border-radius: 50%;
}

.root .perfilInfos .perfilText{
	padding: 4% 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.root .perfilInfos .perfilText p{
	margin: 0;
}

.root .perfilInfos .perfilText .Nome{
    font-size: 1.7rem;
    margin: 0;
}

.root .perfilInfos .perfilText .descricao{
	text-align: justify;
	margin-top: 10px;
}

.root .perfilInfos .perfilText .uniLat{
	display: flex;
	justify-content: space-between;
}

.root .perfilInfos .perfilText hr {
    height: 5px;
    background: #FF6422;
    width: 55px;
    border-radius: 3px;
    border: none;
    margin-left: 0;
}








.editModal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: rgba(1,1,1,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.modalRoot{
	width: 30%;
	/*height: 75%;*/
	background: #fff;
    border-radius: 10px;
    padding-bottom: 20px;
    max-height: 100%;
    transition: max-height 1s ease-out;
}

.modalRoot .selectType{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.modalRoot .selectType .closeModal{
	padding: 20px 25px;
	font-size: 30px;
	cursor: pointer;
}

.modalRoot .selectType ul{
	width: 100%;
    list-style: none;
    margin: 25px;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.modalRoot .selectType ul li{
    display: inline;
    font-size: 20px;
    border: 1px solid #ddd;
    width: 50%;
    border-bottom: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: -1px;
}

.modalRoot .selectType ul li.selected{
    color: #FF6422;
}

.modalRoot .entradas > div{
	width: 90%;
	margin: auto;
}

.modalRoot .entradas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modalRoot .entradas label, .modalRoot .entradas a{
    font-size: 20px;
    color: #000;
}
.modalRoot .entradas a{
	font-size: 15px;
	font-weight: bold;
	margin-left: 14px;
	cursor: pointer;
}
.modalRoot .entradas a:hover{
    color: #FF6422;
}

.modalRoot .entradas input[type="text"], .modalRoot input[type="password"], .modalRoot textarea{
    border-radius: 50px;
    background: #dadada;
    width: 268px;
    transition: all 0.5s;
    box-shadow: 1px 1px 2px #888888;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #000000;
    outline: none;
    border: none;
    padding: 12px;
}
.modalRoot textarea{
    resize: none;
	height: 150px;
	border-radius: 15px;
	font-family: inherit;
}
.modalRoot input[type="password"]{
	margin-bottom: 3px;	
}
.modalRoot .entradas label{
    margin-top: 20px;
    display: block;
}

.modalRoot .entradas .erro{
    color: #ff0000;
    font-size: 12px;
	display: block;
	margin-top: 3px;
	margin-left: 14px;
}


.modalRoot .entradas > div > div{
	width: 100%;
	display: flex;
	justify-content: center;
}

.modalRoot .entradas input[type="submit"]{
    margin-left: 0px;
    height: 45px;
    font-size: 20px;
    width: 166px;
    height: 48px;
    background: #e6e6e6;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: #FF6422;
    box-shadow: 1px 1px 2px #888888;
    font-weight: bolder;
    animation-duration: alternate 4s;
    margin-top: 20px;
}



.modalRoot .selectType{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
}
.modalRoot .selectType h3{
    width: 30%;
    position: absolute;
    text-align: center;
    font-size: 25px;
}
.modalRoot .selectType .closeModal{
    padding: 20px 25px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}