header{
    background: none;
}
header *{
	background: none;
	border: none;
	z-index: 10;
}

.root{
	margin: auto;
	margin-bottom: 30px;
}

.buscaSec{
	position: absolute;
	top: -5px;
	width: 100%;
	background: url('../imgs/background/home2.png') center no-repeat;
	/*background-size: 100%;*/
	z-index: 1;
    height: 520px;
    background-position: top;
}

.descerBack{
	margin-top: 300px;
	background: #e0e0e0;
}

.descerBack .root{
	padding: 20px;
	width: 1160px;
	background: #fff;
    border-radius: 15px;
	z-index: 15;
}

.descerBack .root h3{
	margin-top: 15px;
}

.root .sobre p{
    color: #636363;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 5px;
    line-height: 30px;
}

.root .sobre p span{
    color: black;
}

.root .sobre{
	margin-bottom: 50px;
}


.fotos{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotos > div{
	margin: 30px;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	overflow: hidden;
	cursor: pointer;
}

.fotos > div > img{
	width: 100%;
}
.fotos > div > img:hover{
	filter: grayscale(100%);
}

.infos h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}

.separador {
    height: 4px;
    border-radius: 50%;
    border: none;
    height: 3px;
    /* border-width: 0; */
    background: linear-gradient(to right, transparent, #b6afaf, transparent);
}

.infos p {
    text-align: justify;
    text-indent: 50px;
    font-size: 25px;
    padding: 0px 10px 0px 20px;
}


@media screen and (max-width: 1000px){
	.buscaSec{
		top: 0;
	}
}

